@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2391cd;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
